<!DOCTYPE html>
<html ng-app='toDoApp'>
  <head>
    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='controllers.js'></script>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <div ng-controller="ToDoController as list">
      <p ng-repeat='toDo in list.toDos'>
          {{ toDo.text }}: {{ toDo.completed ? "completed" : "not completed" }}
      </p>
      <input type='text' ng-model='list.newToDo' placeholder="next thing on the list">
      <button ng-click='list.addToDo();'>Add</button>

    </div>
  </body>
</html>
