<!DOCTYPE html>
<html ng-app='toDoApp'>
  <head>
    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='controllers.js'></script>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <div ng-controller="ToDoController as controller">
      <ul >
        <li ng-repeat='toDo in controller.toDos'>
          <label class='checkbox'>
            <input type='checkbox' ng-model='checked' ng-init='checked'>
            <!-- <span class='completed-{{ !toDo.completed }}'> {{ toDo.completed }} completed</span> -->
            {{ toDo.text }}<span ng-if='checked==false'> not</span> completed
            <!-- <span class='completed-{{ toDo.completed }}'> completed</span> -->
          </label>
        </li>
      </ul>
    </div>
  </body>
</html>
